config:
  aws:region: {{aws_region}}
  webapp-infra:deploy_namespace: {{deploy_namespace}}
  webapp-infra:github_repo: {{runner_fleet_repo}}
  webapp-infra:runner_labels: '{{runner_fleet_labels_json}}'
  webapp-infra:runner_count: "{{runner_fleet_runner_count}}"
  webapp-infra:max_runner_count: "{{runner_fleet_max_runner_count}}"
  webapp-infra:instance_type: {{runner_fleet_instance_type}}
  webapp-infra:architecture: {{runner_fleet_architecture}}
  webapp-infra:root_volume_gb: "{{runner_fleet_root_volume_gb}}"
  webapp-infra:idle_shutdown_minutes: "{{runner_fleet_idle_shutdown_minutes}}"
  webapp-infra:shutdown_mode: {{runner_fleet_shutdown_mode}}
