config:
  aws:region: {{aws_region}}
  webapp-infra:aws_account_id: "{{aws_account_id}}"
  webapp-infra:project_name: {{project_name}}
  webapp-infra:domain_name: {{domain_name}}
  webapp-infra:import_zone_id: {{import_zone_id}}
  webapp-infra:manage_registration: "{{manage_registration}}"
  webapp-infra:domain_txt_records: '{{domain_txt_records_json}}'
  webapp-infra:domain_mx_records: '{{domain_mx_records_json}}'
