config:
  aws:region: {{aws_region}}
  webapp-infra:aws_account_id: "{{aws_account_id}}"
  webapp-infra:project_name: {{project_name}}
  webapp-infra:repository_name: {{repository_name}}
  webapp-infra:github_repo: {{github_repo_slug}}
  webapp-infra:manage_github_oidc_provider: "{{manage_github_oidc_provider}}"
